@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: Roboto, serif !important;
}

body, header, footer {
    margin: 0;
}

/* Styling the html table   */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    padding: 10px;
    margin: 0 auto 80px;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tr, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table td {
    padding: 8px;
    text-align: center;
}


#title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.little-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
}

.embeded-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

