#connection {
  /* Display the content properly */
  width: 30%;
  height: 60%;
  overflow: hidden;
  /* Working with design */
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1em;
  /* Positioning the content */
  margin: 0 auto;
  padding: 0;
  /* Centering the box at the center of the screen */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#connection > form {
  /* Display the content properly */
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: hidden;
  /* Working with design */
  background-color: #fafafa;
  border-radius: 5px;
  /* Center the content */
  margin: 0 auto;
  padding: 0;
}

#connection > form > input {
  /* Space the elements */
  margin: 20px 0;
  /* Make the input bigger and larger */
  padding: 10px;
  /* Working with design */
  border: none;
  border-bottom: 1px solid #ccc;
}

#connection > h1 {
  /* Space the elements */
  margin-top: 10px;
  margin-bottom: 10px;
}