#corps {
    /* Display the content properly */
    width: 30%;
    height: 70%;
    overflow: hidden;
    /* Working with design */
    background-color: #f3f3f3;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 1em;
    /* Positioning the content */
    margin: 0 auto;
    padding: 0;
    /* Centering the box at the center of the screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form > input {
    /* Space the elements */
    margin: 10px 0;
    /* Make the input bigger and larger */
    padding: 10px;
    /* Working with design */
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > select {
    /* Space the elements */
    margin: 10px 0;
    /* Make the input bigger and larger */
    padding: 10px;
    /* Working with design */
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50%;
}

form > h1 {
    /* Space the elements */
    margin-top: 10px;
    margin-bottom: 10px;
}