header {

}

/* ========== Navbar ========== */

ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #27282C;
    text-align: center;
}

li {
    float: left;
    margin-right: 10px;
}

#menu-logo {
    padding-top: 15px;
}

li > a, .dropbtn {
    display: inline-block;
    color: #ada9a9;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #75b075;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header {
    border-bottom: 1px solid #ada9a9;
    margin-bottom: 10px;
}

/* EFFECT */

a:hover {
    color: white;
    transition-duration: 0.5s;
}