#title {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#title h1 {
    margin-left: 30px;
    font-size: 40px;
    font-weight: bolder;
}

#start {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#start a {
    font-size: 20px;
    background-color: #27282C;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 60px;
    color: #fff;
    text-decoration: none;
}

#start a:hover {
    opacity: 0.5;
}

#body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.floating-box {
    /* size */
    width: 45%;
    height: 300px;
    margin-top: 50px;

    /* styling */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #27282C;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#floating1 {
    margin-right: 50px;
}